<!DOCTYPE html>
<html>
	<head>
		<title>Munyaradzi Togarepi Players AI App</title>
	</head>
	<body>

		<h1>Player overall score prediction web app by R195907K</h1>
		<p>Please input the following scores for the player. NB: if player is not goalkeeper, goalkeeping scores must be zero and vice vesa.</p>
		<form action="/predict" method="POST">
			<input type="text" name="gk1" placeholder="Potential" required="required" /> 
			<br>
			<br>
			<input type="text" name="gk2" placeholder="Value in euros" required="required" />
			<br>
			<br> 
			<input type="text" name="gk3" placeholder="Wage in euros" required="required" />
			<br>
			<br>
			<input type="text" name="gk4" placeholder="Attacking shot passing" required="required" />
			<br>
			<br>
			<input type="text" name="gk5" placeholder="Skill long passing" required="required" /> 
			<br>
			<br>
			<input type="text" name="gk6" placeholder="Age" required="required" />
			<br>
			<br>
			<input type="text" name="gk7" placeholder="Skill ball control" required="required" />
			<br>
			<br>
			<input type="text" name="gk8" placeholder="Skill curve" required="required" />
			<br>
			<br>
			<input type="text" name="gk9" placeholder="Skill moves" required="required" />
			<br>
			<br>
			<input type="text" name="gk10" placeholder="Attacking volleys" required="required" />
			<br>
			<br> 
			{{ output }} 
			<br>
			<br>
			<br>
			<button type="submit" class="btn btn-primary btn-block btn-large">Submit Data and predict</button>
		</form>
 		<br> 
		<br>

	</body>
</html>
